﻿@model CarRentalSystem.Models.Order

@{
    ViewBag.Title = "Create";
}
<div class="carcreatebanner" id="carcreatebanner">

</div>

<h2>Create Order</h2>
<form method="post" action="/Order/Create">
    <div class="inprow">
    <label class="inplabel">Order Title </label>
    <input type="text" name="order_title_new" />
    </div>
    <div class="inprow">
    <label class="inplabel">Order Date</label>
    <input type="text" name="order_date_new" />
    </div>
    <div class="inprow">
    <input type="submit" value="submit" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
