﻿@model CarRentalSystem.Models.Order

@{
    ViewBag.Title = "Details";
}
<div class="cardetbanner" id="cardetbanner">

</div>
<h2>Details</h2>

<h4>@Model.ordertitle</h4>

<h4>@Model.orderdate</h4>

<div>
    @Html.ActionLink("Edit", "Edit/", new { id = Model.OrderID })|
    @Html.ActionLink("Back to List", "Index")

</div>
