﻿@model CarRentalSystem.Models.Order


@{
    ViewBag.Title = "Edit";
}

<div class="careditbanner" id="careditbanner">

</div>
<h2>Edit</h2>


<h2>Order</h2>
<br />
<form method="POST" action="/Order/Edit/@Model.OrderID">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.ordertitle" name="ordertitle" />
    </div>
    <div class="inprow">
        <label class="inplabel">Date</label>
        <input type="text" value="@Model.orderdate" name="orderdate" />
    </div>

    <div class="inprow">
        <input type="submit" value="Submit"/>
    </div>
</form>



<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
