﻿@model  CarRentalSystem.Models.Car

@{
    ViewBag.Title = "Create";
}
<div class="carcreatebanner" id="carcreatebanner">

</div>
<h2 >Create New Car</h2>

<form method="post" action="/Car/Create">
   <div class="inprow">
    <label class="inplabel">Car Title </label>
    <input type="text" name="car_title_new" />
    </div>
     <div class="inprow">
    <label class="inplabel">Car Type</label>
    <input type="text" name="car_type_new" />
    </div>
     <div class="inprow">
    <label class="inplabel">Description</label>
    <textarea type="text" name="car_description_new"></textarea>
    </div>
     <div class="inprow">
    <label class="inplabel">Price</label>
    <input type="text" name="car_price_new" />
    </div>
     <div class="inprow">
    <label class="inplabel">Orders</label>
    <input type="text" name="car_orders_new" />
    </div>
     <div class="inprow">
    <input type="submit" value="submit" />
     </div>
</form>
<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
