﻿@model CarRentalSystem.Models.Car
    

    @{
        ViewBag.Title = "Edit";
    }
<div class="careditbanner" id="careditbanner">

</div>
    <h2>Edit</h2>

    <form method="POST" action="/Car/Edit/@Model.carId">
        <div class="inprow">
            <label class="inplabel">Title</label>
            <input type="text" value="@Model.title" name="Title" />
        </div>
        <div class="inprow">
            <label class="inplabel">Type</label>
            <input type="text" value="@Model.type" name="Type" />
        </div>
        <div class="inprow">
            <label class="inplabel">Description</label>
            <textarea type="text" value="@Model.description" name="Description"></textarea>
        </div>
        <div class="inprow">
            <label class="inplabel">Price</label>
            <input type="text" value="@Model.price" name="Price" />
        </div>
        <div class="inprow">
            <label class="inplabel">Orders</label>
            <input type="text" value="@Model.orders" name="Orders" />
        </div>

        <div class="inprow">
            <input type="submit" value="Submit" />
        </div>
    </form>



    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
